@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "InsertEmp";
    ViewData["Slug1"] = "QUẢN LÝ NHÂN VIÊN";
    ViewData["Slug2"] = "Quản lý nhân viên";
}
<h3 style="text-align: center; margin-bottom: 10px; margin-top:20px;">Thêm nhân viên</h3>
<div class="container">
    <form action="/Employee/InsertEmp" method="post">
        <div class=row>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Tên nhân viên:</label>
                    <input type="text" class="form-control" id="name_emp" name="name_emp" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Vị trí</label>
                    <input type="text" class="form-control" id="position" name="position">
                </div>
            </div>
        </div>
        <div class=row>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Link ảnh nhân viên:</label>
            <textarea class="form-control" id="link" name="link" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success" id="submit" value="Thêm">Submit</button>
        <a asp-action="Index" style="float:right;">Quay lại</a>
    </form>
</div>

