@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sub_news";
    ViewData["Slug1"] = "QUẢN LÝ NHẬN TIN TỨC";
    ViewData["Slug2"] = "Quản lý nhận tin tức";
    List<Sub_news> list = ViewBag.list;
    int index = 1;
}
<style>
    td {
        text-align: center;
    }
</style>
<div class="table-responsive">
    <table class="table" style="margin-top: 20px; background-color:white; ">
        <tr>
            <a class="btn btn-primary" asp-controller="sub_news" asp-action="sendmail">Gửi mail</a>
        </tr>
        <tr>
            <td></td>
            <td>Email khách hàng</td>
        </tr>
        @foreach (var item in list)
        {
            <tr>
                <td>@index</td>
                <td>@item.email</td>
                @{ index = index + 1;}
            </tr>
        }
    </table>
</div>